<footer class="main-footer">
	<strong>Copyright &copy; 2022-2023 <a href="https://adminlte.io/">AdminLTE.io</a>.</strong>
	All rights reserved.
	<div class="float-right d-none d-sm-inline-block">
	  <b>Version</b> 3.2.0
	</div>
  </footer>

  <aside class="control-sidebar control-sidebar-dark">

  </aside>

</div>


<script src="plugins/jquery/jquery.min.js"></script>

<script src="plugins/jquery-ui/jquery-ui.min.js"></script>

<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>

<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="plugins/chart.js/Chart.min.js"></script>

<script src="plugins/sparklines/sparkline.js"></script>

<script src="plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="plugins/jqvmap/maps/jquery.vmap.usa.js"></script>

<script src="plugins/jquery-knob/jquery.knob.min.js"></script>

<script src="plugins/moment/moment.min.js"></script>
<script src="plugins/daterangepicker/daterangepicker.js"></script>

<script src="plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="plugins/summernote/summernote-bs4.min.js"></script>

<script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>

<script src="/js/adminlte2167.js?v=3.2.0"></script>

<script src="/js/demo.js"></script>

<script src="/js/pages/dashboard.js"></script>
<script src="/js/sweetalert.min.js"></script>
<script src="/js/spectrum.min.js"></script>


<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/plugins/jszip/jszip.min.js"></script>
<script src="/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/plugins/jquery-validation/additional-methods.min.js"></script>
<script src="/js/formValidate.js"></script>
<script src="/js/moment.min.js"></script>
<script>
  $(function () {
	$("#example1").DataTable({
	  "responsive": true, "lengthChange": false, "autoWidth": false,
	//   "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
	"buttons": ["copy", "csv", "excel", "pdf", "print"]
	}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
	$('#example2').DataTable({
	  "paging": true,
	  "lengthChange": false,
	  "searching": false,
	  "ordering": true,
	  "info": true,
	  "autoWidth": false,
	  "responsive": true,
	});
  });


$(document).ready(function () {
	var elmId = $("#exp_date_time").val();
	//alert(elmId);
	var dt = moment(new Date(elmId)).format("YYYY-MM-DD[T]HH:mm:ss");
	console.log(dt);
	$("#expiredAt").val(dt);
});

</script>
</body>

<!-- Mirrored from adminlte.io/themes/v3/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 14 Feb 2022 05:58:05 GMT -->

</html>